/*  your css code here. If applicable */
*{
	background-color:#a164df;
}

button{
	border:none;
	background-color:#663399;
	padding:10px 10px;
	color:white;
	cursor:pointer;
}

.container{
	text-align:center;
	padding-top:14rem;
	
}


